@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Lobster&family=Merienda:wght@300..900&display=swap');

/*Seksioni i Pershkrimit*/
.main-section {
    text-align: center;
    margin-top: 25px;
}

.main-description h1 {
    font-size: 50px;
    color: #5a3e36;
    margin-bottom: 20px;
    font-family: "Merienda", cursive;
}

.shop-description {
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
}

.shop-description p {
    font-size: 20px;
    color: #333;
    line-height: 1.8;
    margin-bottom: 20px;
}

.paragraph1 {
    background-color: #fff8e1;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px;
    font-weight: bold;
    color: #5a3e36;
}

/*Seksioni i fotove*/
.main-images {
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}

.main-images img {
    width: 300px;
    height: auto;
    border-radius: 8px;
}

/*Seksioni i Customer Reviews*/
.main-reviews-section {
    text-align: center;
    padding: 50px 20px;
    color: #5a3e36;
    font-size: 20px;
}

.reviews-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-top: 50px;
}

.review-card {
    background-color: #fff8e1;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    border: 2px solid #5a3e36;
    box-sizing: border-box;
    flex: 1px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.review-card:hover {
    transform: scale(1.1);
}

.review-card blockquote {
    font-size: 16px;
    color: #5a3e36;
    font-style: 'Arial', sans-serif;
    margin-bottom: 15px;
}

.review-card img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-top: 10px;
}

.review-card h3 {
    margin: 10px;
}

.review-card p {
    color: gold;
    font-size: 20px;
}

/* Seksioni i Our Services */
.ourservice {
    text-align: center;
    padding: 50px 20px;
}

.ourservice h1 {
    font-family: "Merienda", cursive;
    color: #5a3e36;
    font-size: 34px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}

.image-card {
    padding: 15px;
    width: 200px;
    text-align: center;
    transition: transform 0.2s ease;
}

.image-card:hover {
    transform: scale(0.9);
}

.image-card img {
    width: 100%;
    height: auto;
    border-radius: 100px;
    border: 2px solid #5a3e36;
}

.image-card p {
    color: #333;
    font-size: 20px;
    margin-top: 10px;
}

/*Responsive Page*/
@media (max-width: 768px) {

    .main-description h1 {
        font-size: 35px;
    }

    .shop-description p {
        font-size: 16px;
    }

    .main-images {
        padding: 10px;
    }

    .main-images img {
        width: 80%;
    }

    .reviews-container {
        flex-direction: column;
        justify-content: center;
    }

    .review-card {
        width: 100%;
        margin-bottom: 15px;
    }

    .review-card blockquote {
        font-size: 14px;
    }

    .review-card p {
        font-size: 16px;
    }
}