@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Lobster&family=Merienda:wght@300..900&display=swap');

/*Faqja1 Section*/
.faqja1 {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 32px;
   background-color: #d0c9b5;
   margin-top: 20px;

}

.faqja1-left {
   flex: 1;
   padding-right: 32px;
   padding-left: 160px;
   margin-top: -160px;
   max-width: 100%;
}

.faqja1-title {
   font-family: "Merienda", cursive;
   font-size: 80px;
   color: black;
   line-height: 1.5;
   margin-bottom: 16px;
}

.faqja1-description {
   margin-top: 16px;
   font-size: 21px;
   color: black;
   line-height: 1.5;
}

.faqja1-right {
   flex: 1;
   display: flex;
   justify-content: center;

}

.faqja1-right img {
   max-width: 100%;
   height: auto;
   border-radius: 6px;

}



/*--PJESA E CATEGORY--*/

/* Stilet për tekstin e fjaLes "Category" */
.title {
   font-family: "Merienda", cursive;
   font-size: 100px;
   color: black;
   text-align: center;
   padding-top: 20px;
   margin-bottom: 20px;
}

/*Stilet per fotot e Category*/
.containerrr {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;
}

.category {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 250px;
   height: 250px;
   text-align: center;
   padding: 10px;
   transition: transform 0.3s ease;

}

/*-- Nje transofrmim me scale--*/
.category:hover {
   transform: scale(1.1);
}

.category img {
   width: 200px;
   height: 200px;
   margin-bottom: 13px;
   object-fit: cover;
   border-radius: 6px;
}

.posht-categoris {
   font-size: 14px;
   color: black;
   font-family: "Merienda", cursive;
   border: 2px solid black;
   border-radius: 50px;
   width: 160px;
   height: 550px;
   align-items: center;
   margin-bottom: 10px;
   background-color: #d0c9b5;
   cursor: pointer;
} 

/*Container 2*/
/* Menu Title */
.menu-title {
   text-align: center;
   font-size: 40px;
   color: #5a3e36;
   font-family: "Merienda", cursive;
   margin-top: 50px;
}

/* Description */
.menu-description {
   font-family: "Merienda", cursive;
  
   margin-top:30px;
 text-align: center;
}

.menu-description h1 {
   font-size: 5vw;
   line-height: 1.2;
}

/* Image and Text Content */
.img-content {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 10px;
}

.img-container {
   width: 40%;
   overflow: hidden;
   border-radius: 8px;
   padding-left: 40px;
}

.image-main {
   width: 100%;
   height: auto;
   border-radius: 8px;
}

.text-content {
   width: 45%;
   padding: 60px;
}

.text-content h2 {
   font-size: 50px;
   font-family: "Merienda", cursive;
   margin-bottom: 10px;
}

.text-content p {
   font-size: 25px;
   line-height: 1.6;
}


/*Teksti*/
.description {
   text-align: center;
   margin-top: 20px;
}

.description p {
   font-size: 27px;
   margin-bottom: 30px;
}

/*SEE MORE BUTTON*/
.seemore-button {
   color: black;
   padding: 10px 20px;
   font-size: 13px;
   border-radius: 50px;
   transition: all 0.3s ease;
   font-size: 17px;
   background-color: #d0c9b5;
}

.seemore-button:hover {
   background-color: #5a3e36;
   transform: scale(1.05);
}

/*ABOUT US*/
.AboutUs-title {
   text-align: center;
   font-size: 40px;
   margin-bottom: -20px;
   margin-top: 100px;
   color: #5a3e36;
   font-family: "Merienda", cursive;
}

.text {
   text-align: center;
   font-size: 20px;
   margin-bottom: 20px;
   line-height: 1.5;
   font-family: "Merienda", cursive;
}


/*Slide showw*/
#slideshow-container {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   position: relative;
}

#slideshow-wrapper {
   position: relative;
}

#slideshow {
   width: 100%; 
   max-width: 900px; 
   height: auto;
   object-fit: cover;
   border-radius: 10px; 
}

.slideshow-button {
   position: absolute; 
   top: 40%;
   padding: 10px 15px;
   font-size: 15px; 
   cursor: pointer;
   background-color: #5a3e36; 
   color: white;
   border: none;
   border-radius: 5px;
   transition: background-color 0.3s ;
}

.slideshow-button:hover {
   background-color: #d0c9b5; 
}

.prev {
   left: 10px;
}

.next {
   right: 10px;
}


/*responsivteti*/
@media (max-width: 768px) {
   .faqja1-left {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 100px;
   }

   .faqja1-title {
      font-size: 50px;
   }

   .faqja1-description {
      font-size: 18px;
   }

   .faqja1-right img {
      max-width: 100%;
   }



   .menu-title {
      font-size: 30px;
   }

   .menu-description h1 {
      font-size: 50px;
   }

   .img-content {
      flex-direction: column;
      text-align: center;
   }

   .img-container {
      width: 70%;
      padding-left: 0;
   }

   .text-content {
      width: 60%;
      padding: 20px;
}


   .AboutUs-title {
      font-size: 30px;
      padding: 0 10px;
   }

   .text h1 {
      font-size: 18px;
   }
}
